h1 {
    padding: 6px;
    color:navy;
    font-style: normal;
    font-size: xx-large;
    border: 1px solid navy;
    text-align: center;
    margin: 10px;
    font-family: 'Tangerine';
}

h4 {
    padding: 10px;
    margin: 5px;
    color: navy;
    font-size: 30px;
    font-family:  'Tangerine';

}

#p1 {
    padding: 10px;
    margin: 20px 0px 5px 0px ;
}

body {
    background-color: beige;
}

#p2 {
    padding: 10px;
    margin: 1px;
    font-family: 'Tangerine ';
    color : navy;
}

ol {
    padding: 0px 0px 0px 30px;
    list-style-type: decimal;
}

li.P1 {
    padding: 10px;
    list-style-type: square;
}